@model kundt_back_end.Models.MitarbeiterModel
@{
    ViewBag.Title = "PasswortZuruecksetzen";
}

<h2>Passwort Zurückgesetzt!</h2>

Generiertes Passwort: @Model.Passwort
für Mitarbeiter: @Model.IDMitarbeiter / 
@Model.MANachname
