@model kundt_back_end.Models.MitarbeiterModel
@{
    ViewBag.Title = "ÄnderungenErfolgreich";
}

<h1>Änderungen Erfolgreich!</h1>

<h2>Ihre Änderungen wurden erfolgreich Gespeichert :D</h2>

@Html.ActionLink("Zurück zum Anfang!", "Index", "Home")