@{
    ViewBag.Title = "Übersicht Buchungen";
}
<style>
    .CenteredButton {
        display: block;
        margin: auto;
    }

    .SuchFilter_abstand {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
    }

    thead, tbody, tr, td, th {
        text-align: center;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 0px;
    }

    tbody, tr /*, td,th, thead*/ {
        display: block;
    }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

    thead th {
        height: 30px;
    }

    tbody {
        height: 300px;
        overflow-y: auto;
    }

        tbody td, thead th {
            width: auto;
            float: left;
        }
</style>


<div class="container" style="border:2px solid black;">
    <div class="row">
        <div class="col-lg-3">
            <div class="row" style="margin:10px;padding:10px;height:400px;">
                <center><h3>Suchen</h3></center>
                <input type="text" placeholder="Buchung-Nr." class="col-lg-12 SuchFilter_abstand" />
                <input type="text" placeholder="Name" class="col-lg-12 SuchFilter_abstand" />
                <input type="text" placeholder="Kunden-Nr." class="col-lg-12 SuchFilter_abstand" />
                <input type="text" placeholder="Ort" class="col-lg-12 SuchFilter_abstand" />
                <input type="text" placeholder="PLZ" class="col-lg-12 SuchFilter_abstand" />
                <center><h3>Status</h3></center>       
                <label class="col-lg-11">Offen</label><input type="checkbox" class="col-lg-1 SuchFilter_abstand" />
                <label class="col-lg-11">Abgeschlossen</label><input type="checkbox" class="col-lg-1 SuchFilter_abstand" />
                <label class="col-lg-11">Problem</label><input type="checkbox" class="col-lg-1 SuchFilter_abstand" />
                
                <input class="col-lg-6 col-lg-offset-3 SuchFilter_abstand" type="submit" value="Suchen" />
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row table-responsive" style="margin:10px;padding:10px;height:400px;">
                <table class="table">
                    <thead>
                        <tr style="margin-right:16px;">
                            <th style="width:20%;">KundenNr.</th>
                            <th style="width:30%;">Vorname</th>
                            <th style="width:30%;">Nachname</th>
                            <th style="width:20%;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width:20%;">123456</td>
                            <td style="width:30%;">Franzi</td>
                            <td style="width:30%;">Mustermann</td>
                            <td style="width:20%;">O_o</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">123456</td>
                            <td style="width:30%;">Franzi</td>
                            <td style="width:30%;">Mustermann</td>
                            <td style="width:20%;">O_o</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">123456</td>
                            <td style="width:30%;">Franzi</td>
                            <td style="width:30%;">Mustermann</td>
                            <td style="width:20%;">O_o</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">123456</td>
                            <td style="width:30%;">Franzi</td>
                            <td style="width:30%;">Mustermann</td>
                            <td style="width:20%;">O_o</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">123456</td>
                            <td style="width:30%;">Franzi</td>
                            <td style="width:30%;">Mustermann</td>
                            <td style="width:20%;">O_o</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">123456</td>
                            <td style="width:30%;">Franzi</td>
                            <td style="width:30%;">Mustermann</td>
                            <td style="width:20%;">O_o</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">123456</td>
                            <td style="width:30%;">Franzi</td>
                            <td style="width:30%;">Mustermann</td>
                            <td style="width:20%;">O_o</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">123456</td>
                            <td style="width:30%;">Franzi</td>
                            <td style="width:30%;">Mustermann</td>
                            <td style="width:20%;">O_o</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">123456</td>
                            <td style="width:30%;">Franzi</td>
                            <td style="width:30%;">Mustermann</td>
                            <td style="width:20%;">O_o</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">123456</td>
                            <td style="width:30%;">Franzi</td>
                            <td style="width:30%;">Mustermann</td>
                            <td style="width:20%;">O_o</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">123456</td>
                            <td style="width:30%;">Franzi</td>
                            <td style="width:30%;">Mustermann</td>
                            <td style="width:20%;">O_o</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">123456</td>
                            <td style="width:30%;">Franzi</td>
                            <td style="width:30%;">Mustermann</td>
                            <td style="width:20%;">O_o</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">123456</td>
                            <td style="width:30%;">Franzi</td>
                            <td style="width:30%;">Mustermann</td>
                            <td style="width:20%;">O_o</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">123456</td>
                            <td style="width:30%;">Franzi</td>
                            <td style="width:30%;">Mustermann</td>
                            <td style="width:20%;">O_o</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>