
@{
    ViewBag.Title = "Einstellung";
}

<style>
    .einstellungLayout{
        margin-bottom:2%;
        margin-top:2%;
    }
</style>

<div class="row">
    <div class="col-lg-3">
        <img alt="Brand" src="~/Content/img/kundt_logo_with_slogan_right.png" />
    </div>
    <div class="col-lg-2 einstellungLayout">Bild 1</div>
    <div class="col-lg-2 einstellungLayout">
        <button>Bearbeiten / Einfügen</button>
    </div>
    <div class="col-lg-2 einstellungLayout">
        <button>Entfernen</button>
    </div>
    <div class="col-lg-3 einstellungLayout">
        <input type="text" placeholder="Blindentext" />
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <img alt="Brand" src="~/Content/img/kundt_logo_with_slogan_right.png" />
    </div>
    <div class="col-lg-2 einstellungLayout">Bild 2</div>
    <div class="col-lg-2 einstellungLayout">
        <button>Bearbeiten / Einfügen</button>
    </div>
    <div class="col-lg-2 einstellungLayout">
        <button>Entfernen</button>
    </div>
    <div class="col-lg-3 einstellungLayout">
        <input type="text" placeholder="Blindentext" />
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <img alt="Brand" src="~/Content/img/kundt_logo_with_slogan_right.png" />
    </div>
    <div class="col-lg-2 einstellungLayout">Bild 3</div>
    <div class="col-lg-2 einstellungLayout">
        <button>Bearbeiten / Einfügen</button>
    </div>
    <div class="col-lg-2 einstellungLayout">
        <button>Entfernen</button>
    </div>
    <div class="col-lg-3 einstellungLayout">
        <input type="text" placeholder="Blindentext" />
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <img alt="Brand" src="~/Content/img/kundt_logo_with_slogan_right.png" />
    </div>
    <div class="col-lg-2 einstellungLayout">Bild 4</div>
    <div class="col-lg-2 einstellungLayout">
        <button>Bearbeiten / Einfügen</button>
    </div>
    <div class="col-lg-2 einstellungLayout">
        <button>Entfernen</button>
    </div>
    <div class="col-lg-3 einstellungLayout">
        <input type="text" placeholder="Blindentext" />
    </div>
</div>

