
@{
    ViewBag.Title = "Einstellung";
}

<style>
    .einstellungLayout {
        margin-bottom: 2%;
        margin-top: 2%;
    }
</style>

<div class="row">
    <div class="col-lg-2">
        <img alt="Brand" src="~/Content/img/kundt_logo_with_slogan_right.png" class="img-responsive" />
    </div>
    <div class="col-lg-1 einstellungLayout">Bild 1</div>
    <div class="col-lg-3 einstellungLayout">
        <input type="file" class="file" name="Bild" placeholder="Upload" accept="image/*" />
    </div>
    <div class="col-lg-1 einstellungLayout">
        <button>Hochladen</button>
    </div>
    <div class="col-lg-2 einstellungLayout">
        <button>Entfernen</button>
    </div>
    <div class="col-lg-2 einstellungLayout">
        <input type="text" placeholder="Blindentext" />
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <img alt="Brand" src="~/Content/img/kundt_logo_with_slogan_right.png" class="img-responsive" />
    </div>
    <div class="col-lg-1 einstellungLayout">Bild 1</div>
    <div class="col-lg-3 einstellungLayout">
        <input type="file" name="Bild" accept="image/*" />
    </div>
    <div class="col-lg-1 einstellungLayout">
        <button>Hochladen</button>
    </div>
    <div class="col-lg-2 einstellungLayout">
        <button>Entfernen</button>
    </div>
    <div class="col-lg-2 einstellungLayout">
        <input type="text" placeholder="Blindentext" />
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <img alt="Brand" src="~/Content/img/kundt_logo_with_slogan_right.png" class="img-responsive" />
    </div>
    <div class="col-lg-1 einstellungLayout">Bild 1</div>
    <div class="col-lg-3 einstellungLayout">
        <input type="file" name="Bild" accept="image/*" />
    </div>
    <div class="col-lg-1 einstellungLayout">
        <button>Hochladen</button>
    </div>
    <div class="col-lg-2 einstellungLayout">
        <button>Entfernen</button>
    </div>
    <div class="col-lg-2 einstellungLayout">
        <input type="text" placeholder="Blindentext" />
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <img alt="Brand" src="~/Content/img/kundt_logo_with_slogan_right.png" class="img-responsive" />
    </div>
    <div class="col-lg-1 einstellungLayout">Bild 1</div>
    <div class="col-lg-3 einstellungLayout">
        <input type="file" name="Bild" accept="image/*" />
    </div>
    <div class="col-lg-1 einstellungLayout">
        <button>Hochladen</button>
    </div>
    <div class="col-lg-2 einstellungLayout">
        <button>Entfernen</button>
    </div>
    <div class="col-lg-2 einstellungLayout">
        <input type="text" placeholder="Blindentext" />
    </div>
</div>

<script type="text/javascript" src="/path/to/si.files.js"></script>


