
@{
    ViewBag.Title = "HinzufuegenAuto";
}
<style>
    .table1 {
        font-family: arial, sans-serif;
    }

    .hinzuAuto {
        min-width: 200px;
        max-width: 200px;
    }

    .autoHinzu_tr {
        background-color: white;
        min-width: 200px;
        max-width: 200px;
        padding-bottom: 10px;
    }

    .picBorder {
        border: solid 1px;
        border-color: lightgray;
    }

    .hinzuAutoCheckbox {
        height: -12px;
        width: -10px;
        text-align: center;
    }

</style>

<div class="container">
    <center style="margin-bottom:30px">
        <h2>Fahrzeug hinzufügen</h2>
    </center>
    <div class="col-xs-5">
        <img src="~/Content/img/alfa-romeo-giulia-silber-2016.png" alt="Alternate Text" style="max-height:175px" class="picBorder" />
        <p><a href="#">Bild hinzufügen/ändern</a></p>
    </div>
    <div class="col-xs-6 col-xs-offset-1 table-responsive text-right" style="max-width:400px">
        <table class="table table-hover">
            <tr class="autoHinzu_tr">
                <td>Marke:</td>
                <td>
                    <select id="Marke" class="hinzuAuto">
                        <optgroup label="Marke wählen">
                            <option value="1">Mazda</option>
                            <option value="2">Honda</option>
                            <option value="3">VW</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr class="autoHinzu_tr">
                <td>Typ:</td>
                <td>
                    <input type="text" name="name" value="" class="hinzuAuto" />
                </td>
            </tr>
            <tr class="autoHinzu_tr">
                <td>Kategorie:</td>
                <td>
                    <select id="Kategorie" class="hinzuAuto">
                        <optgroup label="Kategorie wählen">
                            <option value="1">Kleinwagen</option>
                            <option value="2">Mittelklasse</option>
                            <option value="3">Luxus</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr class="autoHinzu_tr">
                <td>PS:</td>
                <td>
                    <input type="text" name="name" value="" class="hinzuAuto" />
                </td>
            </tr>
            <tr class="autoHinzu_tr">
                <td>Getriebe:</td>
                <td>
                    <select id="Getriebe" class="hinzuAuto">
                        <optgroup label="Getriebe wählen">
                            <option value="1">Manuell</option>
                            <option value="2">Automatik</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr class="autoHinzu_tr">
                <td>Baujahr:</td>
                <td>
                    <input type="text" name="name" value="" class="hinzuAuto" />
                </td>
            </tr>
            <tr class="autoHinzu_tr">
                <td>Türen:</td>
                <td>
                    <input type="text" name="name" value="" class="hinzuAuto" />
                </td>
            </tr>
            <tr class="autoHinzu_tr">
                <td>Sitze:</td>
                <td>
                    <input type="text" name="name" value="" class="hinzuAuto" />
                </td>
            </tr>
            <tr class="autoHinzu_tr">
                <td>KM-Stand:</td>
                <td>
                    <input type="text" name="name" value="" class="hinzuAuto" />
                </td>
            </tr>
            <tr class="autoHinzu_tr">
                <td>Treibstoff:</td>
                <td>
                    <select id="Treibstoff" class="hinzuAuto">
                        <optgroup label="Treibstoff wählen">
                            <option value="1">Diesel</option>
                            <option value="2">Benzin</option>
                            <option value="3">Elektrisch</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr class="autoHinzu_tr">
                <td>Mietpreis:</td>
                <td>
                    <input type="text" name="name" value="" class="hinzuAuto" />
                </td>
            </tr>
        </table>
    </div>
    <div class="col-xs-12">
        <fieldset>
            <header>Ausstattungsoptionen:</header>
        </fieldset>
    </div>
    <div class="col-xs-12 text-center">
        <form>
            <div class="col-xs-3 col-xs-offset-1">
                <div class="checkbox">
                    <label style="margin:auto auto 10px auto"><input type="checkbox" value="" class="hinzuAutoCheckbox">Option 1</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Option 2</label>
                </div>
                <div class="checkbox disabled">
                    <label><input type="checkbox" value="" disabled>Option 3</label>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="checkbox">
                    <label><input type="checkbox" value="">Option 1</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Option 2</label>
                </div>
                <div class="checkbox disabled">
                    <label><input type="checkbox" value="" disabled>Option 3</label>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="checkbox">
                    <label><input type="checkbox" value="">Option 1</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Option 2</label>
                </div>
                <div class="checkbox disabled">
                    <label><input type="checkbox" value="" disabled>Option 3</label>
                </div>
            </div>
        </form>
    </div>
</div>

