@{
    ViewBag.Title = "Übersicht";
}

<style>
    .row > .col-lg-4 {
        padding-left: 20px;
        padding-right: 20px;
    }

    #time {
        font-weight: bold;
        font-size: large;
    }

    table {
        width: 100%;
    }

    thead, tbody, tr, td, th {
        text-align: center;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 0px;
    }

    /*thead,*/ tbody, tr /*, td, th*/ {
        display: block;
    }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

    thead th {
        height: 30px;
    }

    tbody {
        height: 300px;
        overflow-y: auto;
    }

        tbody td, thead th {
            width: auto;
            float: left;
        }
</style>
<div id="Datumsfeld">
    <center>
        <div id="time">

        </div>
    </center>
</div>
<div class="row">
    <div class="col-lg-4">
        <center><h3>Abholung</h3></center>
        <div class="row table-responsive" style="height:500px;">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-lg-2 ">B-Nr.</th>
                        <th class="col-lg-5 ">Name</th>
                        <th class="col-lg-5 ">Auto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-4">
        <center><h3>Rückgabe</h3></center>
        <div class="row table-responsive" style="height:500px;">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-lg-2 ">B-Nr.</th>
                        <th class="col-lg-5 ">Name</th>
                        <th class="col-lg-5 ">Auto</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-4">
        <center><h3>Problem?!</h3></center>
        <div class="row table-responsive" style="height:500px;">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-lg-2 ">B-Nr.</th>
                        <th class="col-lg-5 ">Name</th>
                        <th class="col-lg-5 ">Auto</th>
                        <th class="col-lg-2 ">Problem</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>
                        <td class="col-lg-2 ">Status</td>

                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>
                        <td class="col-lg-2 ">Status</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>
                        <td class="col-lg-2 ">Status</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>
                        <td class="col-lg-2 ">Status</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>
                        <td class="col-lg-2 ">Status</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>
                        <td class="col-lg-2 ">Status</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 ">5000000</td>
                        <td class="col-lg-5 ">Name</td>
                        <td class="col-lg-5 ">Auto</td>
                        <td class="col-lg-2 ">Status</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
