@{
    ViewBag.Title = "Übersicht";
}

<style>
    .TabellenGitter {
        border: solid 1px black;
        height:2em;
    }

    .row > .col-lg-4 {
        padding-left: 20px;
        padding-right: 20px;
    }
    #time{
        font-weight:bold;
        font-size:large;
    }
    #Kopfzeile {
        height: 4em;
    }
</style>
<div id="Datumsfeld" >
    <center>
        <div id="time">
            
        </div>
    </center>
</div>
<div class="row">
    <div class="col-lg-4">
        <center><h3>Abholung</h3></center>
        <div class="row">
            <table>
                <tr class="TabellenGitter" id="Kopfzeile">
                    <th class="col-lg-1 TabellenGitter">B-Nr.</th>
                    <th class="col-lg-5 TabellenGitter">Name</th>
                    <th class="col-lg-5 TabellenGitter">Auto</th>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>

                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-4">
        <center><h3>Rückgabe</h3></center>
        <div class="row">
            <table>
                <tr class="TabellenGitter" id="Kopfzeile">
                    <th class="col-lg-1 TabellenGitter">B-Nr.</th>
                    <th class="col-lg-5 TabellenGitter">Name</th>
                    <th class="col-lg-5 TabellenGitter">Auto</th>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>

                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-4">
        <center><h3>Problem?!</h3></center>
        <div class="row">
            <table>
                <tr class="TabellenGitter" id="Kopfzeile">
                    <th class="col-lg-1 TabellenGitter">B-Nr.</th>
                    <th class="col-lg-5 TabellenGitter">Name</th>
                    <th class="col-lg-5 TabellenGitter">Auto</th>
                    <th class="col-lg-1 TabellenGitter">Problem</th>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>
                    <td class="col-lg-1 TabellenGitter">Status</td>

                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>
                    <td class="col-lg-1 TabellenGitter">Status</td>
                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>
                    <td class="col-lg-1 TabellenGitter">Status</td>
                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>
                    <td class="col-lg-1 TabellenGitter">Status</td>
                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>
                    <td class="col-lg-1 TabellenGitter">Status</td>
                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>
                    <td class="col-lg-1 TabellenGitter">Status</td>
                </tr>
                <tr class="TabellenGitter">
                    <td class="col-lg-1 TabellenGitter">5000000</td>
                    <td class="col-lg-5 TabellenGitter">Name</td>
                    <td class="col-lg-5 TabellenGitter">Auto</td>
                    <td class="col-lg-1 TabellenGitter">Status</td>
                </tr>
            </table>
        </div>
    </div>
</div>
