@{
    ViewBag.Title = "Übersicht";
}

<style>
    .row > .col-lg-4 {
        padding-left: 20px;
        padding-right: 20px;
    }

    table {
        width: 100%;
    }

    thead, tbody, tr, td, th {
        text-align: center;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 0px;
    }

    /*thead,*/ tbody, tr /*, td, th*/ {
        display: block;
    }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

    thead th {
        height: 30px;
    }

    tbody {
        height: 300px;
        overflow-y: auto;
    }

        tbody td, thead th {
            width: auto;
            float: left;
        }
</style>

<div class="row">
    <div class="col-lg-4">
        <center><h3>Abholung</h3></center>
        <div class="row table-responsive" style="height:500px;">
            <table class="table">
                <thead>
                    <tr style="margin-right:16px;">
                        <th style="width:20%;">B-Nr.</th>
                        <th style="width:40%;">Name</th>
                        <th style="width:40%;">Auto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-4">
        <center><h3>Rückgabe</h3></center>
        <div class="row table-responsive" style="height:500px;">
            <table class="table">
                <thead>
                    <tr style="margin-right:16px;">
                        <th style="width:20%;">B-Nr.</th>
                        <th style="width:40%;">Name</th>
                        <th style="width:40%;">Auto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:40%;">Name</td>
                        <td style="width:40%;">Auto</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-4">
        <center><h3>Problem?!</h3></center>
        <div class="row table-responsive" style="height:500px;">
            <table class="table">
                <thead>
                    <tr style="margin-right:16px;">
                        <th style="width:20%;">B-Nr.</th>
                        <th style="width:30%;">Name</th>
                        <th style="width:30%;">Auto</th>                    
                        <th style="width:20%;">Problem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:30%;">Name</td>
                        <td style="width:30%;">Auto</td>
                        <td style="width:20%;">Status</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:30%;">Name</td>
                        <td style="width:30%;">Auto</td>
                        <td style="width:20%;">Status</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:30%;">Name</td>
                        <td style="width:30%;">Auto</td>
                        <td style="width:20%;">Status</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:30%;">Name</td>
                        <td style="width:30%;">Auto</td>
                        <td style="width:20%;">Status</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:30%;">Name</td>
                        <td style="width:30%;">Auto</td>
                        <td style="width:20%;">Status</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:30%;">Name</td>
                        <td style="width:30%;">Auto</td>
                        <td style="width:20%;">Status</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">5000000</td>
                        <td style="width:30%;">Name</td>
                        <td style="width:30%;">Auto</td>
                        <td style="width:20%;">Status</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
