@{
    ViewBag.Title = "KundenListe";
}
<style>
    .CenteredButton {
        display: block;
        margin: auto;
    }
    .TabellenGitter {
        border: solid 1px black;
        height:2em;
    }

    .SuchFilter_abstand{
        margin-top:10px;
        margin-bottom:10px;
    }

</style>


<div class="container" style="border:3px solid black;">
    <div class="row">
        <div class="col-lg-3">
            <div class="row" style="margin:10px;padding:10px;border:1px solid black;height:450px;">                
                    <center><h3>Suchen</h3></center>
                    <input type="text" placeholder="Name" class="col-lg-12 SuchFilter_abstand" />
                    <input type="text" placeholder="Kunden-Nr." class="col-lg-12 SuchFilter_abstand" />
                    <input type="text" placeholder="Ort" class="col-lg-12 SuchFilter_abstand" />
                    <input type="text" placeholder="PLZ" class="col-lg-12 SuchFilter_abstand" />
                    <center><label class="SuchFilter_abstand">Offene Buchung</label></center>
                    <center><input type="checkbox" class="SuchFilter_abstand" /></center>
                    <input class="col-lg-6 col-lg-offset-3 SuchFilter_abstand" type="submit" value="Suchen" />
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row table-responsive" style="margin:10px;padding:10px;border:1px solid black;height:450px;">
                <table class="table">
                    <tr>
                        <th class="col-lg-2 TabellenGitter">KundenNr.</th>
                        <th class="col-lg-3 TabellenGitter">Vorname</th>
                        <th class="col-lg-3 TabellenGitter">Nachname</th>
                        <th class="col-lg-2 TabellenGitter">Status</th>
                        <th class="col-lg-2 TabellenGitter">Bearbeiten</th>
                    </tr>
                    <tr>
                        <td class="col-lg-2 TabellenGitter">123456</td>
                        <td class="col-lg-3 TabellenGitter">Franzi</td>
                        <td class="col-lg-3 TabellenGitter">Mustermann</td>
                        <td class="col-lg-2 TabellenGitter">O_o</td>
                        <td class="col-lg-2 TabellenGitter"><input type="button" value="Bearbeiten" /></td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 TabellenGitter">123456</td>
                        <td class="col-lg-3 TabellenGitter">Franzi</td>
                        <td class="col-lg-3 TabellenGitter">Mustermann</td>
                        <td class="col-lg-2 TabellenGitter">O_o</td>
                        <td class="col-lg-2 TabellenGitter"><input type="button" value="Bearbeiten" /></td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 TabellenGitter">123456</td>
                        <td class="col-lg-3 TabellenGitter">Franzi</td>
                        <td class="col-lg-3 TabellenGitter">Mustermann</td>
                        <td class="col-lg-2 TabellenGitter">O_o</td>
                        <td class="col-lg-2 TabellenGitter"><input type="button" value="Bearbeiten" /></td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 TabellenGitter">123456</td>
                        <td class="col-lg-3 TabellenGitter">Franzi</td>
                        <td class="col-lg-3 TabellenGitter">Mustermann</td>
                        <td class="col-lg-2 TabellenGitter">O_o</td>
                        <td class="col-lg-2 TabellenGitter"><input type="button" value="Bearbeiten" /></td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 TabellenGitter">123456</td>
                        <td class="col-lg-3 TabellenGitter">Franzi</td>
                        <td class="col-lg-3 TabellenGitter">Mustermann</td>
                        <td class="col-lg-2 TabellenGitter">O_o</td>
                        <td class="col-lg-2 TabellenGitter"><input type="button" value="Bearbeiten" /></td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 TabellenGitter">123456</td>
                        <td class="col-lg-3 TabellenGitter">Franzi</td>
                        <td class="col-lg-3 TabellenGitter">Mustermann</td>
                        <td class="col-lg-2 TabellenGitter">O_o</td>
                        <td class="col-lg-2 TabellenGitter"><input type="button" value="Bearbeiten" /></td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 TabellenGitter">123456</td>
                        <td class="col-lg-3 TabellenGitter">Franzi</td>
                        <td class="col-lg-3 TabellenGitter">Mustermann</td>
                        <td class="col-lg-2 TabellenGitter">O_o</td>
                        <td class="col-lg-2 TabellenGitter"><input type="button" value="Bearbeiten" /></td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 TabellenGitter">123456</td>
                        <td class="col-lg-3 TabellenGitter">Franzi</td>
                        <td class="col-lg-3 TabellenGitter">Mustermann</td>
                        <td class="col-lg-2 TabellenGitter">O_o</td>
                        <td class="col-lg-2 TabellenGitter"><input type="button" value="Bearbeiten" /></td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 TabellenGitter">123456</td>
                        <td class="col-lg-3 TabellenGitter">Franzi</td>
                        <td class="col-lg-3 TabellenGitter">Mustermann</td>
                        <td class="col-lg-2 TabellenGitter">O_o</td>
                        <td class="col-lg-2 TabellenGitter"><input type="button" value="Bearbeiten" /></td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 TabellenGitter">123456</td>
                        <td class="col-lg-3 TabellenGitter">Franzi</td>
                        <td class="col-lg-3 TabellenGitter">Mustermann</td>
                        <td class="col-lg-2 TabellenGitter">O_o</td>
                        <td class="col-lg-2 TabellenGitter"><input type="button" value="Bearbeiten" /></td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 TabellenGitter">123456</td>
                        <td class="col-lg-3 TabellenGitter">Franzi</td>
                        <td class="col-lg-3 TabellenGitter">Mustermann</td>
                        <td class="col-lg-2 TabellenGitter">O_o</td>
                        <td class="col-lg-2 TabellenGitter"><input type="button" value="Bearbeiten" /></td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 TabellenGitter">123456</td>
                        <td class="col-lg-3 TabellenGitter">Franzi</td>
                        <td class="col-lg-3 TabellenGitter">Mustermann</td>
                        <td class="col-lg-2 TabellenGitter">O_o</td>
                        <td class="col-lg-2 TabellenGitter"><input type="button" value="Bearbeiten" /></td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 TabellenGitter">123456</td>
                        <td class="col-lg-3 TabellenGitter">Franzi</td>
                        <td class="col-lg-3 TabellenGitter">Mustermann</td>
                        <td class="col-lg-2 TabellenGitter">O_o</td>
                        <td class="col-lg-2 TabellenGitter"><input type="button" value="Bearbeiten" /></td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 TabellenGitter">123456</td>
                        <td class="col-lg-3 TabellenGitter">Franzi</td>
                        <td class="col-lg-3 TabellenGitter">Mustermann</td>
                        <td class="col-lg-2 TabellenGitter">O_o</td>
                        <td class="col-lg-2 TabellenGitter"><input type="button" value="Bearbeiten" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>