@{
    ViewBag.Title = "KundenListe";
}
<style>
    .CenteredButton{
        display: block;
        margin: auto;
    }
    .TabellenGitter{
        border:1px solid black;
    }


</style>


<div class="container" style="border:5px solid black">
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <center><h3>Suchen</h3></center>
                <input type="text" placeholder="Name" class="col-lg-12"/>
                <input type="text" placeholder="Kunden-Nr." class="col-lg-12" />
                <input type="text" placeholder="Ort" class="col-lg-12" />
                <input type="text" placeholder="PLZ" class="col-lg-12" />
                <input type="checkbox" />
            </div>
        </div>
        <div class="col-lg-9"></div>
    </div>
</div>