@{
    ViewBag.Title = "MitarbeiterHinzufuegen";
}


<div class="container">
    <div class="col-xs-12 text-center" style="margin:auto auto 20px auto; color:white; background-color:#f99b1c; vertical-align:middle; padding:0px; border-radius:4px; box-shadow:lightgray 1px 1px 0px;">
        <h4>Neuen Mitarbeiter hinzufügen</h4>
    </div>
    <div class="row">
        <form class="form-horizontal" style="padding: 20px;">
            @*Dropdown Anrede*@
            <div class="form-group">
                <label class="col-md-2 control-label" style="margin-right: 15px;">Anrede</label>
                <select class="form-control">
                    <option>Herr</option>
                    <option>Frau</option>
                </select>
            </div>
            @*Dropdown Anrede ende*@

            <div class="form-group">
                <label for="inputMail" class="col-md-2 control-label">Vorname</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="sirname" placeholder="Nachname">
                </div>
            </div>
            <div class="form-group">
                <label for="inputMail" class="col-md-2 control-label">Nachname</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="prename" placeholder="Nachname">
                </div>
            </div>

            <button type="button" class="col-lg-offset-2 btn btn-primary btn-sm" style="position: relative; left: 6px; width: 280px;">Hinzufügen</button>

        </form>
    </div>

</div>