@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row"> @*Ersten 12 Zeilen Row Einteilung Anfang*@
        <div style="margin:5px;"></div>
        <form>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="Vorname">Vorname</label>
                    <input type="text" class="form-control" id="Vorname" placeholder="Suche nach Vorname">
                </div>
                <div class="form-group">
                    <label for="Nachname"></label>
                    <input type="text" class="form-control" id="Nachname" placeholder="Suche nach Nachname">
                </div>
                <div class="form-group">
                    <label for="Email"></label>
                    <input type="email" class="form-control" id="Email" placeholder="Suche nach E-mail">
                </div>
                <div class="form-group">
                    <label for="Adresse"></label>
                    <input type="text" class="form-control" id="Adresse" placeholder="Suche nach Adresse">
                </div>
                <div class="form-group">
                    <label for="PLZ"></label>
                    <input type="text" class="form-control" id="PLZ" placeholder="Suche nach PLZ">
                </div>
            </div> @*Ende colspan-lg-6*@
          <div class="col-lg-offset-6">
              <div class="form-group">
                  <label for="Ort"></label>
                  <input type="text" class="form-control" id="Ort" placeholder="Suche nach Ort">
              </div>
              <div class="form-group">
                  <label for="PassNR"></label>
                  <input type="text" class="form-control" id="PassNR" placeholder="Suche nach Reisepass">
              </div>
          </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div> @*Ersten 12 Zeilen Row Einteilung Ende*@
    <div class="row">






    </div> @*Zweite 12 Zeilen Row Einteilung Ende*@
</div> @*Container Ende*@