@{
    ViewBag.Title = "Übersicht Autos";
}
<style>
    .CenteredButton {
        display: block;
        margin: auto;
    }

    .TabellenGitter {
        border: 1px solid black;
    }

    .BildKleinSkalierung {
        width: 100px;
        height: 75px;
    }
</style>


<div class="container">
    <div class="row" style="border:5px solid black">
        <div class="col-lg-4 TabellenGitter ">
            @*Anfang des Linken Such Bereich*@

            <div class="form-group">
                <label for="IDAuto">ID Auto</label>
                <input type="text" class="form-control" id="IDAuto" placeholder="Suche nach Auto ID">
            </div>
            <div class="row">
                <h6 style="text-align:center">Filter</h6>
                <select name="Marke" class="col-lg-4">
                    <option value="Marke">Marke</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                    <option value="Renault">Renault</option>
                    <option value="BMW">BMW</option>
                </select>
                <select name="Typ" class="col-lg-4">
                    <option value="Typ">Typ</option>
                    <option value="Coupe">Coupé</option>
                    <option value="Kombi">Kombi</option>
                    <option value="Cabriolet">Cabriolet</option>
                    <option value="Roadster">Roadster</option>
                    <option value="Runabout">Runabout</option>
                </select>
                <select name="Kategorie" class="col-lg-4">
                    <option value="Kategorie">Kategorie</option>
                    <option value="BiligKlasse">Bilig Klasse</option>
                    <option value="MittelKlasse">Mittel Klasse</option>
                    <option value="LuxusKlasse">Luxus Klasse</option>
                    <option value="Roadster">Roadster</option>
                    <option value="Runabout">Runabout</option>
                </select>
                <select name="Status" class="col-lg-4">
                    <option value="Status">Status</option>
                    <option value="Verfügbar">Verfügbar</option>
                    <option value="Ausgeliehen">Ausgeliehen</option>
                    <option value="Versteckt">Versteckt</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Baujahr">Baujahr</label>
                <input type="text" class="form-control" id="Baujahr" placeholder="Suche nach Baujahr">
            </div>
            <div class="form-group">
                <label for="Preis">Preis</label>
                <input type="text" class="form-control" id="Preis" placeholder="Suche nach Preis">
            </div>
            <div class="form-group">
                <label for="KMS">Kilometer Stand</label>
                <input type="text" class="form-control" id="Baujahr" placeholder="Suche nach Kilometer">
            </div>
            <button type="submit" class="btn btn-default" id="AutoFilterBTN">Suchen</button>
        </div> @*Ende des Linken Such Bereich*@

        <div class="col-lg-8"">
            @*Anfang des Rechten Ergebnis Bereiches*@
            <div class="row">
                <div class="col-lg-12">
                    <table>
                        <tr class="TabellenGitter">
                            <th class="col-lg-2 TabellenGitter">Bild</th>
                            <th class="col-lg-4 TabellenGitter">Beschreibung</th>
                            <th class="col-lg-1 TabellenGitter">Bearbeiten</th>
                        </tr>
                        <tr class="TabellenGitter">
                            <td class="col-lg-2"><img src="/Content/img/vw-touran-van-weiss-2016.png" class="BildKleinSkalierung img-responsive" /></td>
                            <td class="col-lg-8"><textarea type="text" style="border:1px solid black; min-width:100%;" class="form-control" rows="2" id="BeschreibungAuto" placeholder="Daten vom Auto"></textarea></td>
                            <td class="col-lg-1"><input id="edit1" type="submit" name="edit1" value="Edit" /></td>
                        </tr>
                        <tr class="TabellenGitter">
                            <td class="col-lg-2"><img src="/Content/img/vw-touran-van-weiss-2016.png" class="BildKleinSkalierung img-responsive" /></td>
                            <td class="col-lg-8"><textarea type="text" style="border:1px solid black; min-width:100%;" class="form-control" rows="2" id="BeschreibungAuto" placeholder="Daten vom Auto"></textarea></td>
                            <td class="col-lg-1"><input id="edit1" type="submit" name="edit1" value="Edit" /></td>
                        </tr>
                        <tr class="TabellenGitter">
                            <td class="col-lg-2"><img src="/Content/img/vw-touran-van-weiss-2016.png" class="BildKleinSkalierung img-responsive" /></td>
                            <td class="col-lg-8"><textarea type="text" style="border:1px solid black; min-width:100%;" class="form-control" rows="2" id="BeschreibungAuto" placeholder="Daten vom Auto"></textarea></td>
                            <td class="col-lg-1"><input id="edit1" type="submit" name="edit1" value="Edit" /></td>
                        </tr>
                        <tr class="TabellenGitter">
                            <td class="col-lg-2"><img src="/Content/img/vw-touran-van-weiss-2016.png" class="BildKleinSkalierung img-responsive" /></td>
                            <td class="col-lg-8"><textarea type="text" style="border:1px solid black; min-width:100%;" class="form-control" rows="2" id="BeschreibungAuto" placeholder="Daten vom Auto"></textarea></td>
                            <td class="col-lg-1"><input id="edit1" type="submit" name="edit1" value="Edit" /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div> @*Ende des Rechten Ergebnis Bereiches*@
    </div>

</div> @*Container Ende*@