@{
    ViewBag.Title = "Home Page";
}
@{
    ViewBag.Title = "Home Page";
}
<style>
    .CenteredButton{
        display: block;
        margin: auto;
    }
    .TabellenGitter{
        border:1px solid black;
    }


</style>


<div class="container" style="border:5px solid black">
  <div class="col-lg-4">
      <div class="form-group">
          <label for="IDAuto">ID Auto</label>
          <input type="text" class="form-control" id="IDAuto" placeholder="Suche nach Auto ID">
      </div>
     <h6 style="text-align:center">Filter</h6>
  </div>

    <div class="col-lg-offset-4 col-lg-8"></div>
</div> @*Container Ende*@