@model List<kundt_back_end.Models.OffeneBuchungenTodayPlus13>

@{
    ViewBag.Title = "Übersicht Buchungen";
}

<style>
    table tr td a {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
    }

        table tr td a:hover {
            display: block;
            height: 100%;
            width: 100%;
            text-decoration: none;
        }

    .row > .col-lg-4 {
        padding-left: 20px;
        padding-right: 20px;
    }

    table {
        width: 100%;
    }

    thead, tbody, tr, td, th {
        text-align: center;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 0px;
    }

    /*thead,*/ tbody, tr /*, td, th*/ {
        display: block;
    }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

    thead th {
        height: 30px;
    }

    tbody {
        height: 300px;
        overflow-y: auto;
    }

        tbody td, thead th {
            width: auto;
            float: left;
        }
</style>

<hr />
<div class="container" style="border:2px solid black;">
    <div class="row">
        <div class="col-lg-3">
            <div class="row" style="margin:10px;padding:10px;height:400px;">
                <form method="post" action="/Buchung/Index">
                    <center><h3>Suchen</h3></center>
                    <input type="text" id="buchungnummer" name="buchungnummer" placeholder="Buchung-Nr." class="col-lg-12 SuchFilter_abstand" />
                    <input type="text" id="name" name="name" placeholder="Name" class="col-lg-12 SuchFilter_abstand" />
                    <input type="text" id="kundennr" name="kundennr" placeholder="Kunden-Nr." class="col-lg-12 SuchFilter_abstand" />
                    <input type="text" id="ort" name="ort" placeholder="Ort" class="col-lg-12 SuchFilter_abstand" />
                    <input type="text" id="plz" name="plz" placeholder="PLZ" class="col-lg-12 SuchFilter_abstand" />
                    <center><h3>Status</h3></center>
                    <label class="col-lg-11">Offen</label><input type="checkbox" id="offen" name="offen" class="col-lg-1 SuchFilter_abstand" />
                    <label class="col-lg-11">Abgeschlossen</label><input type="checkbox" id="abgeschlossen" name="abgeschlossen" class="col-lg-1 SuchFilter_abstand" />
                    <label class="col-lg-11">Problem</label><input type="checkbox" id="problem" name="problem" class="col-lg-1 SuchFilter_abstand" />
                    <input class="col-lg-6 col-lg-offset-3 SuchFilter_abstand" type="submit" id="suchen" name="suchen" value="Suchen" />
                </form>
            </div>
        </div>
        <div class="col-lg-9">

            @Html.Partial("_BuchungTable",@Model)

        </div>
    </div>
</div>